body{
    margin-left: 15%;
    margin-right: 15%;
    background-color: #0f172a;
}
.menu{
     display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #020617;
    gap: 50px;
    width: 100%;
    height: 60px;
    font-size: 25px;
}
.menu .animado{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 5px;
    z-index: 1;
}
.menu .animado::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 0%;
    background-color: rgb(28, 28, 88);
    transition: height 0.3s ease;
    z-index: -1;
}
.menu .animado:hover::after{
    height: 100%;
    border-bottom:solid blue;
}
.logo{
    position: absolute;
    margin-right: auto;
    left: 15px;
}

.container-carrossel {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
}


.card-solo {
    width: 250px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-solo:hover {
    transform: translateY(-10px) scale(1.03);
}

.card-solo img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-solo h3 {
    margin: 15px 0 10px;
    font-size: 20px;
}

.card-solo p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #555;
}
